/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */
 
@CHARSET "UTF-8";

.accounts .icon {
	font-size: 20px;
}

.accounts .panel {
	background-color: #F5F5F5;
}

.accounts .user {
	background-color: #FFFFFF;
	text-align: left;
	margin: 10px;
}

.accounts .form {
	background-color: #EFEFEF;
}

.guidelines {
	margin: 20px;
	padding: 10px;
	background-color: #EFEFEF;
	border: solid;
	border-width: 1px;
}

.main {
	padding: 0px;
}

#section a {
	border-radius: 0px;
}