/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */

@CHARSET "UTF-8";

.tabpill {
	background-color: #428BCA;
	color: #F5F5F5;
	font-weight: bold;
	cursor: pointer;
}
.tabpill:hover {
	background-color: #79A8CE;
}
.tabpill.active {
	background-color: #C64191;
}
.pillheir {
	background-color: #C64191;
	color: #F5F5F5;
	cursor: pointer;
}
.pillheir:hover {
	background-color: #C481A9;
}
.pillheir.active {
	background-color: #702552;
}

.subpill {
	background-color: #668DAE;
	color: #EEEEEE;
	font-weight: bold;
	cursor: pointer;
}
.gradpill {
	background-color: #66AD85;
	color: #EEEEEE;
	font-weight: bold;
	cursor: pointer;
}
.gradpill:hover {
	background-color: #DDDDDD;
	text-decoration: none;
}
.subpill:hover {
	background-color: #DDDDDD;
	text-decoration: none;
}
.subpill.active {
	background-color: #CCCCCC;
}

.qualitile {
	cursor: pointer;
}

.submtile,.tabpill,.pillheir,.subpill,.gradpill {
	display: inline-block;
	text-align: center;
	margin: 2px;
	padding: 5px;
}
.tileheader {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.sidebar {
	background-color: #428BCA;
	color: #F5F5F5;
	border-right: outset;
	border-width: 1px;
	border-color: #6BA1CE;
}

.sidebar .nav-pills li a {
	color: #F8F8F8;
	font-weight: bold;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #F8F8F8;
}
.sidebar .nav-pills li a:hover {
	background-color: #F8F8F8;
	color: #428BCA;
}
.sidebar .nav-pills li a:focus {
	background-color: #F8F8F8;
	color: #428BCA;
}
.sidebar .nav-pills li.active {
	background-color: #9E42C9;
	color: #F8F8F8;
}

.vcentered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}