/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */
 
@CHARSET "UTF-8";

textarea {
	height: 200px;
	resize: vertical;
	background-color: #111111;
	color: #EEEEEE;
	border: none;
	padding: 5px;
}

#editor-pane {
	border-right:solid;
	border-color:#CCCCCC;
}

.header-title {
	margin: 0px;
	padding: 5px;
	background-color: #CCCCCC;
	color: #555555;
	font-weight: bolder;
	font-size: 20px;
}

.alert, pre {
	border-radius: 0px;
}

#console .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
#console .navbar {
	min-height:32px !important; 
	border-radius: 0px; 
	border-top: solid 1px #999999; 
	border-bottom: solid 1px #999999;
	margin-bottom: 0px;
}
#console .navbar, #console .navbar .container-fluid {
	background-color: #F8F8F8;
}