/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */

@CHARSET "UTF-8";

.nav-panel, .nav-panel .container-fluid {
	border-radius: 0px;
	background-color: #080808;
}

.big {
	font-size: 18px;
}

.ongoing, .ongoing .panel-body {
	background-color: #428BCA;
	color: #FFFFFF;
}
.ongoing ul {
	color: #428BCA;
}

.vis.timeline.root {
	background-color: #F3F3F3;
}
.vis.timeline .item {
	border: none;
	background-color: #428BCA;
	color: #F5F5F5;
}
.vis.timeline .item small {
	font-size: 30px;
}
.vis.timeline .timeaxis .text {
	font-family: inherit;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
}
.vis.timeline .timeaxis .text.major {
	font-weight: bolder;
}
.vis.timeline .item.dot {
	border-width: 10px;
	border-radius: 10px;
}
.vis.timeline .item.selected {
	border: none;
	border-radius: 0px;
	background-color: #9E42C9;
	color: #F5F5F5;
}
.vis.timeline .timeaxis .grid.major {
	border-width: 2px;
	border-color: #428BCA;
}