/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */
 
@CHARSET "UTF-8";

textarea {
	height: 200px;
	resize: vertical;
	background-color: #111111;
	color: #EEEEEE;
	border: none;
	padding: 5px;
}

.ediview {
	height: 200px;
	width: 100%;
	background-color: #F5F5F5;
	color: #333333;
	padding: 10px;
	border: solid;
	border-width: 1px;
	border-color: #CCCCCC;
}

.table-icon {
	text-align: center;
}

.code {
	background-color: #F9F2F4;
	padding: 10px;
}

.pre {
	white-space: pre-wrap;
	font-family: monospace;
}

.header-title {
	margin: 0px;
	padding: 5px;
	background-color: #428BCA;
	color: #FFFFFF;
	font-weight: bolder;
	font-size: 20px;
}

.io-panel {
	margin: 10px;
	padding: 10px;
	border: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	border-radius: 5px;
}

#io {
	background-color: #EEEEEE;
	margin-bottom: 10px;
	padding-top: 10px;
	border: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	display: none;
}

/*#statement-editor {
	background-color: #F5F5F5;
	color: #777777;
	border: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	width: 100%;
	height: 300px;
}
.wysihtml5-toolbar {
	background-color: #CCCCCC;
}*/