/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */
 
@CHARSET "UTF-8";

.filter {
	padding-left: 10px;
	padding-right: 10px;
	font-size: large;
}