/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */
 
@CHARSET "UTF-8";

.complete {
	background-color: #DFF0D8;
	color: #3C7655;
}

.pending {
	background-color: #F2DEDE;
	color: #AD4442;
}