/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */
 
@CHARSET "UTF-8";

pre {
	border-radius: 0px;
	white-space: pre-wrap;
	font-family: monospace;
}

.drop {
	height: 150px;
	margin: 20px;
	padding: 20px;
	text-align: center;
	font-size: 40px;
	border-radius: 10px;
	border: dashed;
	border-width: 2px;
}

.display-area {
	background-color: #F1F1F1;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #CCCCCC;
	padding: 10px;
}

.guidelines {
	margin: 20px;
	padding: 10px;
	background-color: #EFEFEF;
	border: solid;
	border-width: 1px;
}

.dragenter {
	border: dotted;
}