/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */
 
@CHARSET "UTF-8";

body {
	color: #999999;
	background-color: #F8F8F8;
}

td,th {
	padding: 3px;
	word-wrap: break-word;
}

th {
	text-align: right;
}

table {
	width:100%; 
	border-collapse: collapse; 
	table-layout: fixed;
}

.code {
	background-color: #F9F2F4;
	padding: 10px;
}

.pre {
	white-space: pre-wrap;
	font-family: monospace;
}

.thumbnail {
	text-align: center;
}
.thumbnail:hover, .thumbnail:focus {
	text-decoration: none;
}
.thumbnail.active {
	background-color: #428BCA;
	color: #F5F5F5;
}
.thumbnail .code {
	overflow: hidden;
	height: 100px;
	font-size:5px;
	white-space:pre-wrap;
	text-align: left;
	color: #428BCA;
}

.timeline {
	background-color: #EBEBEB;
}

.editorpane {
	padding: 0px;
	border-left: solid;
	border-right: solid;
	border-width: 1px;
}

.detailspane {
	padding: 0px;
	overflow-y: scroll;
}

.pbar {
	text-align: center;
	background-color: #428BCA;
	color: #F5F5F5;
	font-weight: bold;
	cursor: pointer;
}
.pbar:hover {
	background-color: #7CA8CC;
}

.prob {
	padding: 10px;
	background-color: #EEEEEE;
}