/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */

@CHARSET "UTF-8";

body {
	color: #999999;
	background-color: #F8F8F8;
}

textarea {
	height: 200px;
	resize: vertical;
	background-color: #555555;
	color: #EEEEEE;
	border: none;
	padding-left: 5px;
}

pre {
	border-radius: 0px;
	white-space: pre-wrap;
	font-family: monospace;
}

td,th {
	padding: 3px;
}

th {
	text-align: right;
}

#viewer {
	overflow: hidden;
	position: relative;
}

.data-view {
	margin-bottom: 10px;
}

.axis line, .axis path {
	fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
	color: black;
	font-size: 12px;
}



.del {
	cursor: pointer;
	color: red;
}

.pre {
	white-space: pre-wrap;
	font-family: monospace;
}



.code {
	background-color: #F9F2F4;
	padding: 10px;
}

.item span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 90px;
}

.vcentered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.item {
	text-align: center;
	background-color: #E5E5E5;
	cursor: pointer;
	margin: 10px;
}
.item:hover {
	background-color: #428BCA;
	color: #F5F5F5;
}

/*.vertical {
	transform: rotate(90deg);
	transform-origin: left bottom 0;
	font-size: 100px;
}*/

.tile {
	background-color: #EEEEEE;
}
.tile:hover {
	background-color: #AAAAAA;
	color: #F5F5F5;	
}

.page-header {
	padding: 10px;
	background-color: #428BCA;
	color: #F5F5F5;
}

.header-title {
	margin: 0px;
	padding: 5px;
	background-color: #CCCCCC;
	color: #555555;
	font-weight: bolder;
	font-size: 20px;
}

.navbar,.container-fluid {
	background-color: #EEEEEE;
}

.navbar {
	border-bottom-color: #CCCCCC;
}

.nopadding, .col-md-5, .col-md-7, .col-md-12 {
	padding-left:0px;
	padding-right:0px;
}

.col-md-7 {
	border-right:solid;
	border-color:#CCCCCC;
}



.btn-toolbar {
	margin: 0px;
	padding: 5px;
	background-color: #EEEEEE;
	border-radius: 0px;
	border-bottom: solid;
	border-width: 1px;
	border-color: #CCCCCC;
}

.container {
	margin-top: 20px;
	text-align: center;
}

h1 .glyphicon {
	vertical-align: middle;
}

.comment {
	height: 70px;
	width: 100%;
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 5px;
}