/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */

@CHARSET "UTF-8";

.panels{
  *zoom: 1;
}
.panels:before, .panels:after {
  display: table;
  content: "";
}
.panels:after {
  clear: both;
}

.panels .tab-content {
  overflow: auto;
}

.tabs-right > .nav-tabs,
.panels > .nav-tabs {
  border-bottom: 0;
}

.panels .nav-tabs > li,
.tabs-right .nav-tabs > li {
  float: none;
}
.panels .nav-tabs > li > a,
.tabs-right .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.panels > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.panels > .nav-tabs > li > a {
  margin-right: -1px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
.panels > .nav-tabs > li > a:hover, .panels > .nav-tabs > li > a:focus {
  border-color: #eee #ddd #eee #eee;
}
.panels > .nav-tabs > li.active > a, .panels > .nav-tabs > li.active > a:hover, .panels > .nav-tabs > li.active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #fff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {
  border-color: #eee #eee #eee #ddd;
}
.tabs-right > .nav-tabs > li.active > a, .tabs-right > .nav-tabs > li.active > a:hover, .tabs-right > .nav-tabs > li.active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #fff;
}

.panels {
  position: relative;
}
.panels > .nav-tabs {
  position: absolute;
  top: 20px;
  display: block;
  width: auto;
  height: 42px;
  margin: 0;
  white-space: nowrap;
  border: 0 none;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.panels > .nav-tabs > li {
  position: relative;
  display: inline-block;
}
.panels > .nav-tabs > li > a {
  min-width: 0;
  margin: 0;
}
.panels > .nav-tabs > li.active {
  z-index: 1;
}
.panels > .nav-tabs {
  left: 43px;
  border-top: 1px solid #ddd;
}
.panels > .nav-tabs > li {
  height: 43px;
  top: -1px;
}
.panels > .nav-tabs > li > a {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
}
.panels > .nav-tabs > li > a:hover, .panels > .nav-tabs > li > a:focus {
  border-color: #ddd #eee #eee #eee;
}
.panels > .nav-tabs > li.active > a, .panels > .nav-tabs > li.active > a:hover, .panels > .nav-tabs > li.active > a:focus {
  background-color: #fff;
  border-color: transparent #ddd #ddd #ddd;
  *border-top-color: #fff;
}
.panels .tab-content {
  margin-left: 42px;
  border-left: 1px solid #ddd;
}
.panels.tabs-right > .nav-tabs {
  left: 100%;
  margin-left: -1px;
  border-bottom: 1px solid #ddd;
}
.panels.tabs-right > .nav-tabs > li > a {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.panels.tabs-right > .nav-tabs > li > a:hover, .panels.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eee #eee #ddd #eee;
}
.panels.tabs-right > .nav-tabs > li.active > a, .panels.tabs-right > .nav-tabs > li.active > a:hover, .panels.tabs-right > .nav-tabs > li.active > a:focus {
  background-color: #fff;
  border-color: #ddd #ddd transparent #ddd;
  *border-bottom-color: #fff;
}
.panels.tabs-right .tab-content {
  margin-right: 42px;
  border-right: 1px solid #ddd;
}

.panels .tab-content {
  padding-left: 5px;
}
.tabs-right .tab-content {
  padding-right: 20px;
}

.panels .tab-content {
	background-color: #FFFFFF;
	overflow: hidden;
	position: relative;
}

#locals th {
	text-align: left;
}
#debug-menu .icon {
	vertical-align: middle;
}
.ace-marker-warning
{
	background: #FCF8E3;
	position: absolute;
	width: 100% !important;
	left: 0 !important;
}
.ace-gutter-warning {
	background-color: #FCE15A;
	color: #877834;
} 

#console {
	background-color: #CCCCCC;
}
#console .tab-content {
	overflow-y: scroll;
	padding: 0px;
}
#console .tab-pane {
	padding: 0px;
}

#tab-input textarea, #tab-output textarea {
	width: 100%;
	height: 200px;
	background-color: #333333;
}

#console .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
#console .navbar {
	min-height:32px !important; 
	border-radius: 0px; 
	border-top: solid 1px #999999; 
	border-bottom: solid 1px #999999;
	margin-bottom: 0px;
}
#console .navbar, #console .navbar .container-fluid {
	background-color: #F8F8F8;
}

.icon {
	font-size: 20px;
}

.ace_breakpoint {
	/*background-color: #EF9797;
	color: #8E5B5B;
	font-size: 16px;*/
	color: #8E5B5B;
	background-color: #EF9797;
	border-right: solid 3px red;
}

.ace-gutter-deco {
	font-size: 16px;
}

#tab-log td, #tab-log th {
	text-align: left;
}

body {
	color: #333333;
	background-color: #F8F8F8;
}

textarea {
	height: 200px;
	resize: vertical;
	background-color: #06467A;
	color: #EEEEEE;
	border: none;
	padding-left: 5px;
	padding-top: 5px;
}

pre {
	border-radius: 0px;
	white-space: pre-wrap;
	font-family: monospace;
}
.pre {
	white-space: pre-wrap;
	font-family: monospace;
}

td,th {
	padding: 3px;
}

th {
	text-align: right;
}

.header-title {
	margin: 0px;
	padding: 5px;
	background-color: #428BCA;
	color: #EEEEEE;
	font-weight: bolder;
	font-size: 20px;
}

.navbar,.navbar .container-fluid {
	background-color: #EEEEEE;
}

.navbar {
	border-bottom-color: #CCCCCC;
}

.col-md-5, .col-md-7 {
	padding-left:0px;
	padding-right:0px;
}

.tab-pane {
	padding: 10px;
}

.alert {
	border-radius: 0px;
}

.area {
	color: #333333;
	background-color: #F1F1F1;
	padding: 10px;
	font-family: monospace;
	font-size: large;
	border: solid;
	border-width: 1px;
	border-color: #333333;
}

.slide-toggle {
	font-size: 20px;
	padding: 0px;
	margin-top: 10px;
}

#work-tab a {
	text-decoration: none;
	color: #EEEEEE;
}

#work-tab {
	background-color: #428BCA;
}
#work-tab:hover {
	background-color: #80ABCE;
}

#save-status {
	font-weight: normal;
}

/*#toolbar .navbar-nav > li > a {padding-top:9px; padding-bottom:7px;}
#toolbar .btn-group {padding-top:0px; padding-bottom:0px;}
#toolbar button {margin-top: 1px; margin-bottom: 1px;}
#toolbar {min-height:32px !important;}*/
#toolbar, #toolbar .container-fluid, #statusbar, #statusbar .container-fluid {
	background-color: #EEEEEE;
	border-left: none;
	border-right: none;
}
#toolbar {
	border-right: none;
	border-right-color: #CCCCCC;
	border-width: 1px;
}

#tools {
	border-radius: 0px;
	border: none;
	text-align: center;
	background-color: #EEEEEE;
	color: #777777;
	border-top: double;
	border-left: solid;
	border-width: 1px;
	border-color: #CCCCCC;
}
#tools .btn {
	margin: 2px;
}
#tools hr {
	border-color: #777777;
}

#left-view {
	border-right:solid;
	border-color: #CCCCCC;
	border-width: 2px;
}