/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */

body {
	background-color: #F8F8F8;
	color: #777777;
}

table {
	font-size: large;
}

th,td{
	padding: 5px;
	margin: 5px;
}

.navbar {
	margin-bottom: 0px;
}

.home-view {
	padding-top: 20px;
}
