@CHARSET "UTF-8";

.gmb-loader {
  font-size: 0;
  display: inline-block;
  position: relative;
  height: 60px;
  width: 60px;
}
.gmb-loader div {
  background: #999999;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  -webkit-animation: gmb-bounce 1.75s infinite;
  animation: gmb-bounce 1.75s infinite;
  top: 50%;
  margin-top: -7.5px;
}
.gmb-loader div:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  left: 50%;
  margin-left: -7.5px;
}
.gmb-loader div:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  right: 0;
}

@-webkit-keyframes gmb-bounce {
  10% {
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    height: 15px;
  }

  14% {
    height: 45px;
  }

  15% {
    height: 15px;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }

  35% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gmb-bounce {
  10% {
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    height: 15px;
  }

  14% {
    height: 45px;
  }

  15% {
    height: 15px;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }

  35% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}