/**
 * Copyright (c) 2014 Rajdeep Das.
 * All rights reserved.
 * 
 * Usage of this program and the accompanying materials in any form 
 * without prior permission from the owner is strictly prohibited. 
 * 
 * Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>
 */

@CHARSET "UTF-8";

body {
	color: #999999;
	background-color: #F8F8F8;
}

textarea {
	height: 200px;
	resize: vertical;
	background-color: #555555;
	color: #EEEEEE;
	border: none;
	padding-left: 5px;
	padding-top: 5px;
}

pre {
	border-radius: 0px;
	white-space: pre-wrap;
}

td,th {
	padding: 3px;
}

th {
	text-align: right;
}

.header-title {
	margin: 0px;
	padding: 5px;
	background-color: #CCCCCC;
	color: #555555;
	font-weight: bolder;
	font-size: 20px;
}

.navbar,.container-fluid {
	background-color: #EEEEEE;
}

.navbar {
	border-bottom-color: #CCCCCC;
}

.col-md-7 {
	padding-left:0px;
	padding-right:0px;
	border-right:solid;
	border-color:#CCCCCC;
	border-width: 1px;
}

.col-md-5 {
	padding-left:0px;
	padding-right:0px;
}

.tab-pane {
	padding: 10px;
}

.alert {
	border-radius: 0px;
}

.area {
	color: #777777;
	background-color: #F1F1F1;
	padding: 10px;
	font-size: large;
	border: solid;
	border-width: 1px;
	border-color: #E8E8E8;
}

#work-tab a {
	text-decoration: none;
}
#work-tab {
	background-color: #E8E8E8;
	text-align: center;
}
#work-tab:hover {
	background-color: #E1E1E1;
}

#toolbar .navbar-nav > li > a {padding-top:9px; padding-bottom:8px;}
#toolbar .btn-group {padding-top:0px; padding-bottom:0px;}
#toolbar button {margin-top: 2px; margin-bottom: 1px;}
#toolbar input {margin-top: 2px; margin-bottom: 1px;}
#toolbar .navbar-form {margin-top: 0px; margin-bottom: 0px;}
#toolbar {min-height:32px !important;}
#toolbar, #toolbar .container-fluid {
	background-color: #FBFBFB;
}