// Copyright (c) 2014 Rajdeep Das.
// All rights reserved.
// 
// Usage of this program and the accompanying materials in any form 
// without prior permission from the owner is strictly prohibited. 
// 
// Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>

nav.navbar.navbar-default.navbar-fixed-top(style='border-radius: 0px;margin-bottom:0px')
	div.container-fluid
		div.navbar-header
			a.navbar-brand(href='/') ESC101-ITS
		div.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/')
						span.glyphicon.glyphicon-home
						spane  Home
				li
					a
						span.glyphicon.glyphicon-user 
						span=' ' + username
				li
					a(href='/accounts/logout').logout
						span.glyphicon.glyphicon-log-out 
						span  Logout
div(style='margin-top:50px')