// Copyright (c) 2014 Rajdeep Das.
// All rights reserved.
// 
// Usage of this program and the accompanying materials in any form 
// without prior permission from the owner is strictly prohibited. 
// 
// Author(s): Rajdeep Das <rajdeepd@iitk.ac.in>

div(style='padding-top:20px')
h1
	span.icon.ion-ios7-analytics
	span  DataViZ
ul.nav.nav-pills.nav-stacked.sidemenu
	li.active
		a(href='#')#link-ad Problem Distribution
	li
		a(href='#')#link-cq Code Quality